#root{
  position: relative;
  width:100%;
  height:100%;
}

.background-up{
  width: 100%;
  height: 250px;
  background-image: url('./assets/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* background-position: center center;
  background-attachment: fixed; */
}

.window-float{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;

  padding: 25px;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);

  .title{
    display: flex;
  }

  .question{
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:    "question button"
                            "answer answer";

    h2{
      grid-area: question;

    }

    img{
      grid-area: button;
      align-self: center;
      justify-self: center;
      width: 30px;
    }


    .accordion{
      grid-area: answer;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 0;
    }

    .accordion.open {
      max-height: 200px;
    }
  }
}